body {
    background-color: rgb(235, 239, 242);
    font-size: 16px;
}

.login {
    width: 340px;
    height: 280px;
    margin: 100px auto;
    border: 1px solid rgb(203, 219, 218);
}
.login_image{
    width: 340px;
}
.login form {
    width: 340px;
    background-color: rgb(254, 254, 254);
}

.login .forms {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
}

.login label {
    display: inline-block;
    width: 300px;
    padding-bottom: 8px;
}

.login input {
    width: 300px;
    height: 35px;
    border: none;
    outline: none;
    border: 1px solid rgb(203, 219, 218);
    background-color: #fff;
    font-size: 18px;
    text-indent: 6px;
    border-radius: 5px;
}

.btn {
    width: 340px;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    background-color: rgb(240, 245, 248);
}

.btn div {
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

.btn button {
    float: right;
    padding: 8px 16px;
    background: rgb(157, 211, 239);
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
}

.btn a {
    float: left;
    padding: 5px 0;
    text-decoration: none;
    color: #ccc;
}