* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "Microsoft YaHei";
  list-style: none;
}

body {
  background: #f2f2f2;
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.78);
  padding: 10px 0px;
}

.header img {
  width: 110px;
}

.nav {
  padding: 10px 0px;
}

.nav a {
  font-weight: lighter;
  margin: 0px 20px;
  color: #666666;
}

.nav a:hover {
  color: #ffffff;
}

.content {
  width: 90%;
  margin: 0px auto;
}

.scolling {
  width: 100%;
  margin-top: 140px;
}

.scollingContent {
  position: relative;
  z-index: 9;
}

.scollingContent img {
  width: 100%;
  display: block;
}

.scollingContent h2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 30px;
}

.pagination {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.pagination span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  background: #999999;
  border-radius: 50%;
  margin: 0px 20px;
}

.pagination span:hover {
  border: 1px solid #999999;
  background: #ffffff;
}

.aboutMe {
  width: 100%;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 20px;
}

.aboutMe p {
  text-indent: 2em;
  line-height: 20px;
  font-family: "汉仪丫丫体简";
  color: #999999;
}

.cooperation {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.cooperation img {
  width: 60px;
  margin: 0px 0.65%;
}

.waterFlow {}

.waterFlow::after {
  content: "";
  display: block;
  clear: both;
}

.cell {
  float: left;
  width: 30%;
  margin: 20px 0px;
  background: #ffffff;
}

.cellCenter {
  margin-left: 3%;
  margin-right: 3%;
}

.cellContent {
  position: relative;
  z-index: 9;
}
.cellContent:hover .cellMask{
  opacity: 1;
}
.cellContent img {
  width: 100%;
  display: block;
}

.cellMask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 1s;
  opacity: 0;
}

.cellMaskText {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11;
  margin: auto;
  display: inline-table;
  color: #ffffff;
  text-align: center;
}

.cellTitle {
  text-align: center;
}

.footer {
  background: #e0e0e0;
  width: 100%;
  padding: 20px 0px
}

.footer::after {
  content: "";
  display: block;
  clear: both;
}

.footerLeft {
  float: left;
  width: 49%;
  text-align: right;
}
.footerLeft img{
  width: 30px;
}
.footerRight{
  float: right;
  width: 49%;
  border-left: 1px solid #666666;
  margin-left: 0.7%;
  padding-left: 0.7%;
}
.footerRight img{
  width: 130px;
}
.info{
  font-size: 13px;
  color: #666666;
}
